.colorName {
	margin-bottom: $margin-base-vertical;
}
.colorContainer {
	max-width: 300px;
}
.colorSquare {
	height: 238px;
}
.accessibilityStandards {
	vertical-align: bottom;
	text-align: center;

	.failA {
		font-size: 1.188em;
		font-weight: $font-weight-semi;
	}
	.failA2,
	.passA2 {
		padding-top: 3px;
	}

	.failB,
	.failB2 {
		color: $white;
		background-color: $black;
		size: 12px;
		padding: 5px 10px;
		border-radius: 6px;
	}
	.passA {
		font-size: 1.188em;
		color: $white;
		font-weight: $font-weight-semi;
	}
}
.accessibilityContain {
	width: 300px;
	position: absolute;
	bottom: 10px;
}
